<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add Commande</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>
<body>
	<div class="container my-5">
		<h3 align="center">Ajouter une commande</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
				
				<form action="#" th:action="@{/commande/add}" th:object="${commande}" method="post">
				
				<!-- commande form -->
				 <div align="left">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="datecommande" class="col-form-label">Date de livraison </label> <input type="date" th:field="*{datecommande}" class="form-control" id="datecommande" placeholder="Date de la creation"> <span th:if="${#fields.hasErrors('datecommande')}" th:errors="*{datecommande}" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="client" class="col-form-label">Client </label> <input type="text" th:field="*{client}" class="form-control" id="client" placeholder="Nom et prénom du client"> <span th:if="${#fields.hasErrors('client')}" th:errors="*{client}" class="text-danger"></span>
                            </div>

                        </div>
   
                        </div>
                        <!-- book table -->
                        
                       <div class="col-md-10" align="right">

							<table class="table table-striped table-responsive-md">

								<thead>
									<tr>
										<th>Titre</th>
                                        <th>Author</th>
                                        <th>Prix</th>
                                        <th>Date</th>
                                        <th>Nbr de stock</th>
										<th>Choix</th>
										
									</tr>
								</thead>
								<tbody>
									<tr th:each="book : ${books}">
										<td th:text="${book.titre}"></td>
                                        <td th:text="${book.author}"></td>
                                        <td th:text="${book.prix}"></td>
                                        <td th:text="${book.datecreation}"></td>
                                        <td th:text="${book.nbrstock}"></td>
										
										<td>
											<div class="form-group col-md-10">
                                        		<input th:value="${book.id}" type="checkbox" class="form-control" name="bookId">
											</div>
											
										</td>
										</tr>
								</tbody>
							</table>
						
					</div>
					
					
							<div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Valider">
                            </div>

                            <div class="form-group col-md-8"></div>
					
                        
                    </form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>